*.class

# Package Files #
*.jar
*.war
*.ear

/cpw
/ibxm
/net
/paulscode
/TFC
/assets/forge
/assets/terrafirmacraft

*.cfg
deobfuscation_data-1.6.2.lzma
mcpmod.info
mcmod.info
fmlversion.properties
forge_logo.png
Start.java